.form-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
    top: 40px;
    left: 40px;
}

.form-and-image {
    max-width: 600px;
    display: flex;
    align-items: center;
}