@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --light-green: #5EBE07;
  --dark-green: #0F4115;
  --white: #FFFFFF;
  --black: #000000;
  --light-grey: #E4E4E4;
  --dark-grey: #6D6D6D;
  --placeholder-grey: #C2C2C2;
  --red-50: #eb64647b;
  --btn-hover-color: #024d0b;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
}

h1,
h2,
p {
  line-height: 1;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 24px;
}